<div>
    <h3>Products</h3>
    <div class = "row">
        <form name ="Filters">
            <select name="state" id="state" ng-model ="category">
                <option selected="selected" disabled="disabled" >Select a Category</option>
                <option value="happy">Happy Tears</option>
                <option value="sad">Sad Tears</option>
                <option value="angry">Angry Tears</option>
            </select>
            <input type="submit" value="Submit" ui-sref= "emotionProducts({emotion: category})">
            <!--<label>
                <input type="radio" ng-model="organic" value="true">
                Organic
            </label><br/>
            <label type="radio" ng-model="organic" value="false"> Non-Organic </label>-->
        </form>
        <a ui-sref="search">SEARCH</a>
        
        <ui-view></ui-view>
    </div>
    
</div>