<div class="row">
        <div class="col-xs-12">
            <div class="thumbnail">
                <img ng-src="{{product.pictureUrl}}">
                <div class = "caption">
                    <h5>
                        <span>{{ product.title}}</span>
                    </h5>
                    <a ui-sref="supplier({id: product.man.id})">Supplier: {{product.man.name}}</a><br>
                    <small>{{ product.description }}</small><br>
                    <small>Size: {{ product.size }}ml</small><br>
                    <small>Price: {{ product.price | currency }}</small><br>
                    <button class="btn btn-default">Add a Review</button>
                    <button ng-click="addItemToCart(product.id)" class="btn btn-default">Add to Cart</button>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class = "thumbnail">
            <div class = "caption">
                <p>Reviews:</p>
                <span ng-show = "product.reviews.length == 0">This product has no reviews!</span>
                <span ng-repeat= "review in product.reviews"><br> {{ review.text }} </span>
            <div>
            </div>
        </div>
    </div>