navbar {

  display: block;
  background: #F7F9FE;      /*NAVBAR BG COLOR*/
  // border-bottom: 1px solid black;       /*NAVBAR BOTTOM BORDER*/
  box-shadow: 1px 1px 14px -3px #3f6873;      /*NAVBAR SHADOW*/

  .container {
    width: 91%;
    max-width: 1340px;
    padding-top: 20px;
  }

  fullstack-logo {
    margin-top: 5px;
    margin-right: 20px;
    width: 40px;
  }

  a {
    color: #01313A;        /*NAVLINK BASE COLOR*/
    font-size: 16px;
  }

  .nav > li > a {
    cursor: pointer;
    transition: color 0.2s;
    &.active {
      color: #CBDBE0;        /*ACTIVE LINK*/
    }
    &:hover {
      background: none;
      color: #FB983F;        /*NAVBAR LINK HOVER COLOR*/
    }
    &:focus {
      background: none;
    }
  }

  .login-button {
    float: right;
    border: 1px solid #BED2D9;     /*LOGIN BUTTON BORDER*/
    margin-top: 10px;
    background: none;
    outline: none !important;
    color: #CBDBE0;   /*LOGIN TEXT COLOUR*/
  }

  .login-button:hover {
    color: #01313A;        /*LOGIN BUTTON LINK HOVER COLOR*/
  }

  .welcome {
    float: right;
    margin-top: 12px;
    span {
      color: black;
      font-size: 16px;
      margin-right: 5px;
    }
    a {
      color: #f30046;
      cursor: pointer;
    }
  }

}
