* {
  box-sizing: border-box;
}

body {
  background: #BED2D9;
  color: #fff;
  -moz-border-radius: 10px 20px 30px 0;
  -webkit-border-radius: 36px 12px;
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#main {
  padding: 5%;
  margin: 0 auto;
}

@import 'directives/main';
@import 'home/main';
@import 'about/main';
@import 'tutorial/main';
@import 'login/main';
// @import 'webfont-aaargh';
// @include font-face('aaarghnormal', font-files('webfont-aaargh'))

