<!-- <section id="about">
    <p>
        This website--the very one at which you currently gaze--was created by a basic scaffolding
        concocted at Fullstack Academy. Here are some of the people who make it all very real:
    </p>
    <carousel interval="2000">
        <slide ng-repeat="image in images">
            <img height="300" ng-src="{{ image }}" />
        </slide>
    </carousel>
</section> -->


<!-- <body ng-controller="SimpleExampleController as ctrl"> -->
  <!--
    Works like Stripe Checkout's simple integration, but calls the
    function passed to stripe-checkout with the token object instead
    of submitting a form.
  -->
  <!-- <button stripe-checkout="ctrl.doCheckout"
          data-key="YOUR_PUBLISHABLE_KEY"
          data-name="Simple Example"
          data-description="Five dollahs!"
          data-amount="500">
    Buy
  </button>
</body> -->


<!-- <div ng-controller='CustomExampleController as ctrl'>


    <h1>Stripe Checkout has been loaded</h1>
    <button ng-click="ctrl.doCheckout()">Buy</button>

</div> -->